body{
    margin: 0;
    padding: 0;
    width: 900px;
    height: 600px;
    font-family: 'ABeeZee', sans-serif;
    background-color: #1e1e1e;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.foto{
    background-image:url("https://img.freepik.com/vetores-gratis/programador-trabalhando-em-codigo-de-desenvolvimento-web-engenheiro-de-programacao-em-python-php-e-java-script-no-computador_90220-249.jpg?w=900&t=st=1671213394~exp=1671213994~hmac=6decb83abfbc5c7a80384faf88b27be68ce6c4c8e2e2e493b73ce2beb129d090");
    background-size: 520px 470px;
    width: 500px;
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.espacamento-interno{
    padding: 5px;
}

.espacamento-externo{
    margin-top: 4px;
    margin-bottom: 20px;
}

.text-login{
    font-size: 50px;
}

.borda-arredondada{
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.formulario{
    display: flex;
    width: 420px;
    height: 500px;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.barra{
    width: 300px;
    height: 17px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
}

.botao{
    width: 100px;
    height: 35px;
    margin-left: 1%;
    background: #00b2ff;
    border-radius: 1000px;
    border: none;
    color: #ffffff;
    display: inline-block;
    font: bold 22px/50px;
}

.checks{
    margin-left: 24%;
}