body{
    margin: 0;
    padding: 0;
    width: 900px;
    height: 600px;
    font-family: 'ABeeZee', sans-serif;
    background-color: #1e1e1e;
    background-image: url("https://img.freepik.com/free-vector/stylish-white-background-with-diagonal-lines_1017-33199.jpg?w=740&t=st=1671218047~exp=1671218647~hmac=8adf3e024d78e059af647901e7651901529decb88cf7257527b9eb2a9c2b36f9");
    background-size: 100vw 100vh;
}

.container{
    background-color: #1484ee;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

.foto{
    background-image: url("https://img.freepik.com/vetores-gratis/programador-trabalhando-em-codigo-de-desenvolvimento-web-engenheiro-de-programacao-em-python-php-e-java-script-no-computador_90220-249.jpg?w=900&t=st=1671213394~exp=1671213994~hmac=6decb83abfbc5c7a80384faf88b27be68ce6c4c8e2e2e493b73ce2beb129d090");
    background-size: 100% 93%;
    width: 45%;
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 69px -10px rgba(0,0,0,0.75);
}

.espacamento-interno{
    padding: 5px;
}

.espacamento-externo{
    margin-top: 4px;
    margin-bottom: 20px;
}

.informacao{
    width: 45%;
    height: 500px;
    justify-content: center;
    background-color: #9dc0d8;
    box-shadow: 10px -3px 69px -16px rgba(0,0,0,0.75);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formulario{
    justify-content: center;
    display: flex;
    text-align: left;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.space-change-mode{
    width: 80%;
    margin-top: 10%;
    display: flex;
    justify-content: end;
}

.space-change-mode > p{
    margin: 0;
    margin-top: 2%;
    margin-right: 2%;
}

.btn-change-mode{
    width: 100px;
    height: 35px;
    background: #389efc;
    border-radius: 1000px;
    border: none;
    color: #ffffff;
    font: bold;
}

.btn-change-mode:hover {
    background-color: #1484ee;
    transition: all 0.5s ease;
}

.text-login{
    font-size: 50px;
}

.borda-arredondada{
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.barra{
    width: 300px;
    height: 20px;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    background-color: white;
}

.btn-acess{
    width: 100px;
    height: 35px;
    margin-left: 1%;
    background: #d06a4b;
    border-radius: 1000px;
    border: none;
    color: #ffffff;
    font: bold;
}

.btn-acess:hover {
    background-color: #d84b20;
    transition: all 0.5s ease;
}

.checks{
    margin-left: 24%;
}